svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style="display: none;", xml:space='preserve')
    //-include logos/logo
    //-include footer/game_care
    //-include footer/gambleware18plusst
    //-include footer/igb

    //-include misc/hamburger
    //-include misc/bullet
    //-include misc/cross
    //-include misc/filter
    //-include misc/fullStar
    //-include misc/halfStar
    //-include misc/arrowBNBS

    //-include icons/888
    //-include icons/cozy
    //-include icons/newDeposit
    //-include icons/payPal
    //-include icons/3wheels
    //-include icons/5wheels
    //-include icons/allDevices
    //-include icons/bingo
    //-include icons/cardChips
    //-include icons/cards
    //-include icons/cards1
    //-include icons/cards2
    //-include icons/cardsTable
    //-include icons/cash
    //-include icons/chips
    //-include icons/deskMobile
    //-include icons/desktop
    //-include icons/dice
    //-include icons/dice1
    //-include icons/dice2
    //-include icons/download
    //-include icons/free
    //-include icons/freeSpins
    //-include icons/gift
    //-include icons/live
    //-include icons/lucky
    //-include icons/minus
    //-include icons/mobile
    //-include icons/new
    //-include icons/news
    //-include icons/payPalBasic
    //-include icons/plus
    //-include icons/question
    //-include icons/roulette
    //-include icons/tablet
    //-include icons/videoSpins_1
    //-include icons/videoSpins
    //-include icons/vip


