body {
  font-family: $bodyFont;
}

.main-bg {
  background: $brandBlue url('../images/bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  padding: $padding;
  font-size: $smallFontSize;
}

svg {
  height: $iconHeight;
  fill: #fff;
  stroke-width: $iconStroke;

}



.btn-confirm {
  width: 100%;
  background: $brandGreen;
  border-radius: 0;
  color: #fff;
  padding: $padding;
}





