.prizes {
  background-color: white;
  color: #000;
  padding: $padding;

  svg {
    width: $iconHeight;
  }


  h5 {
    font-size: $smallFontSize;
  }

  dl {
    margin-bottom: $margin /3;
  }

}


.prizes-details {
  margin-left: 0;
  margin-right: 0;

  svg {
    height: $iconHeight - 8px;
    width: $iconHeight - 8px;
    stroke: $brandGreen;
  }


  dt {
    padding-right: 0;
  }

  dd {
    padding-left: $padding/3;
    line-height: $iconHeight - 8px;
    font-size: $smallFontSize;
    font-weight: bold;
  }


}


.prizes-frontpage {

  padding: 0;

  dt {
    text-align: left;
    font-weight: 900;
  }

  dd {
    text-align: right;
    font-weight: 900;
  }

  .col-6 {
    padding: 0 $padding/3;
  }


  dd:first-of-type, dt:first-of-type {
    font-weight: normal;
    color: lighten(black, 60%);
  }





  h2 {
    font-size: 1rem;
    font-family: $serif;
    background: $brandLight;
    padding: $padding $padding/3;
    text-align: center;
    margin-bottom: 0;
  }


}

.icon-stroke-dark {
  stroke: $brandDarkGreen;

}

.icon-stroke {
  stroke: $brandGreen;

}

.icon-filled-dark {
  fill: $brandDarkGreen;
}

.icon-filled {
  fill: $brandGreen;
}

.icon-disabled, .prizes-details svg.icon-disabled {
  stroke: $brandLight;
}
