$brandBlue: #3772FF;
$brandMedBlue: #004BFF;
$brandDarkBlue: #01298C;
$brandGreen: #9BD50F;
$brandLightGreen: #EAFFCC;
$brandDarkGreen: #68932C;
$brandRed: #EC2028;
$brandLight: #F3F3F3;
$brandLightText: darken(#F3F3F3,40%);

$sans: 'Maven Pro', sans-serif;
$serif: 'Zilla Slab', serif;


$headingFont: $serif;
$bodyFont: $sans;

$smallFontSize: 0.7rem;
$largeFontSize: 0.9rem;
$xlFontSize: 1.2rem;


$padding: 15px;
$margin: 15px;

$iconHeight: 22px;
$iconStroke: 12;

$borderRadius: 4px;

$cartCircle: 20px;


