block vars
    - var template = 'default';

doctype
html
    head
        block meta
            //- Required meta tags
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        block css
            //-link(rel='stylesheet', href='assets/css/slottoball.min.css')
            link(href='https://fonts.googleapis.com/css?family=Maven+Pro|Zilla+Slab:400,700', rel='stylesheet', type='text/css')



        block links
            //- link(rel='profile', href='')
            //-link(rel='shortcut icon', href='http://www.monacoriches.com/favicon.png', type='image/x-icon')
            //-link(rel='canonical', href='http://www.monacoriches.com/')


    body(class= template)
        block header
            include includes/svg/svg




        block content



        block footer




        block scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
