symbol#igb
    //- viewbox='0 0 261.85 261.85')
    defs
        style.
            .cls-1 {
                fill: #161412;
            }

            .cls-2 {
                fill: #fff;
            }
    title igb-logo
    path.cls-1(d='M428.53,422.09A130.93,130.93,0,1,0,297.6,553,130.93,130.93,0,0,0,428.53,422.09m-48.67,55.19H335.18L297.62,355.39,259.34,477.28h-44L275,311.62h46.3Z', transform='translate(-166.68 -291.17)')
    path.cls-2(d='M215.23,491h4v17.36h-4V491Zm0-5.72h4v3.63h-4v-3.63Z', transform='translate(-166.68 -291.17)')
    path.cls-2(d='M223.2,495c0.18-5.88.65-10.25,7.54-10.25,3.69,0,6.25,1,7.23,5a14.3,14.3,0,0,1,.22,2.8h-4.31c-0.06-2.34-.22-4.19-3.14-4.31-3.39,0-3.11,4-3.11,5.82v6.4c0,1.91.15,5,3.11,5,2.46,0,3.26-2.62,3.17-6.1h-3V496h7.17v12.41h-3.23v-2.65h-0.06a4.37,4.37,0,0,1-4.06,3.2c-7.08,0-7.54-4.49-7.54-10.65V495Z', transform='translate(-166.68 -291.17)')
    path.cls-2(d='M247.55,505a6.54,6.54,0,0,0,2.59-.25c1.17-.52,1.32-2,1.32-3.2,0-2.49-.49-3.54-3.17-3.54h-1.66v7h0.92Zm-0.12-10.37c1,0,2.4.06,3.08-.8a4.4,4.4,0,0,0,.46-2.49c0-1.72-.37-2.59-2.34-2.65h-2v5.94h0.8Zm-5.11,13.76V485.28h7c1.85,0,3.66.12,4.9,1.69a6.2,6.2,0,0,1,1.14,4.16c0,2-.43,4-2.77,4.83V496c2.43,0.34,3.36,2.37,3.36,5.36a11,11,0,0,1-.31,2.83c-0.92,2.92-2.58,4.15-5.66,4.15h-7.6Z', transform='translate(-166.68 -291.17)')
    path.cls-2(d='M268.49,487.13h-0.06l-3,12.28h6.1Zm-1.66-1.85h3.39l6.5,23.09h-2.83l-1.82-6.65h-7.3l-1.69,6.65h-2.83Z', transform='translate(-166.68 -291.17)')
    polygon.cls-2(points='112.63 217.21 112.63 194.12 123.46 194.12 123.46 196.43 115.18 196.43 115.18 204 122.88 204 122.88 206.31 115.18 206.31 115.18 217.21 112.63 217.21')
    polygon.cls-2(points='126.3 217.21 126.3 194.12 137.13 194.12 137.13 196.43 128.85 196.43 128.85 204 136.55 204 136.55 206.31 128.85 206.31 128.85 217.21 126.3 217.21')
    rect.cls-2(x='141.32', y='194.12', width='2.55', height='23.09')
    polygon.cls-2(points='149.14 217.21 149.14 194.12 151.7 194.12 151.7 214.9 161.12 214.9 161.12 217.21 149.14 217.21')
    rect.cls-2(x='164.38', y='194.12', width='2.56', height='23.09')
    path.cls-2(d='M344.92,487.13h-0.06l-3,12.28h6.09Zm-1.66-1.85h3.38l6.5,23.09H350.3l-1.82-6.65h-7.3l-1.69,6.65h-2.83Z', transform='translate(-166.68 -291.17)')
    polygon.cls-2(points='185.54 194.12 200.04 194.12 200.04 196.43 194.06 196.43 194.06 217.21 191.51 217.21 191.51 196.43 185.54 196.43 185.54 194.12')
    polygon.cls-2(points='202.75 217.21 202.75 194.12 214.3 194.12 214.3 196.43 205.31 196.43 205.31 204.06 213.74 204.06 213.74 206.37 205.31 206.37 205.31 214.9 214.36 214.9 214.36 217.21 202.75 217.21')
    path.cls-2(d='M321.32,455.29a23.71,23.71,0,1,1-23.71-23.71,23.72,23.72,0,0,1,23.71,23.71', transform='translate(-166.68 -291.17)')
