symbol#arrowBNBS
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .st0arrowBNBS {
            fill: none;
            //stroke: #FFFFFF;
            stroke: inherit;
            stroke-width: 15;
            stroke-miterlimit: 10;
        }
    polyline.st0arrowBNBS(points='42,28 69,55 42,82 ')
