symbol#bullet
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .bulletst0 {
            fill: #FC155C;
        }
    g
        path.bulletst0(d='M55,29c14.3,0,26,11.7,26,26S69.3,81,55,81S29,69.3,29,55S40.7,29,55,29 M55,24c-17.1,0-31,13.9-31,31\
      s13.9,31,31,31s31-13.9,31-31S72.1,24,55,24L55,24z')