symbol#cross
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .crossst0 {
            fill: none;
            stroke: #000000;
            stroke: inherit;
            stroke-width: 8.8098;
            stroke-linecap: round;
            stroke-miterlimit: 10;
        }
    path.crossst0(d='M102.7,9C37.8,73.9,9.4,102.3,9.4,102.3')
    path.crossst0(d='M102.7,102.3C37.8,37.4,9.4,9,9.4,9')