symbol#filter
    //- viewbox='0 0 110 110')
    g
        path(d='M85.4,17.9L62.3,48.3l-1.6,2.1v2.7v28.6l-8.5,10.9V53.1v-2.7l-1.6-2.1L27.4,17.9H85.4 M101.3,10L101.3,10L101.3,10z\
      M101.3,10H11.5l32.7,43.1v41.2c0,4.5,3.6,7.3,7.4,7.3c2.1,0,4.2-0.9,5.7-2.8l11.2-14.4V53.1L101.3,10L101.3,10z')
