symbol#halfStar
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .st0 {
            fill: #FC155C;
        }

        .st1 {
            fill: #A9A9A9;
        }
    g
        polygon.st0(points='54.9,4 71.5,37.5 108.5,42.9 81.7,69 88,105.9 54.9,88.5 21.8,105.9 28.1,69 1.4,42.9 38.4,37.5 	')
    polygon.st1(points='71.5,37.5 55,4.2 55,88.5 88,105.9 81.7,69 108.5,42.9 ')

