symbol#hamburger
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .st0hamburger {
            fill: #FC155C;
        }
    rect.st0hamburger(x='17.3', y='28', width='75.4', height='10')
    rect.st0hamburger(x='17.3', y='50.5', width='56.8', height='10')
    rect.st0hamburger(x='17.3', y='73', width='56.8', height='10')
