symbol#allDevices
    //- viewbox='0 0 110 110')
    g
        circle(cx='40.3', cy='89.2', r='2.1')
    path(d='M97,20H33c-3.7,0-6.8,3-6.8,6.8v10.2h-3.1c-3.7,0-6.7,3-6.7,6.7v5.2h-5.1c-3.7,0-6.8,3-6.8,6.8v34.1c0,3.7,3,6.8,6.8,6.8\
    h15.4h45.6c3.7,0,6.8-3,6.8-6.8v-3.2H97c3.7,0,6.8-3,6.8-6.8v-53C103.8,23,100.7,20,97,20z M30.3,26.8c0-1.5,1.2-2.8,2.8-2.8h64\
    c1.5,0,2.8,1.2,2.8,2.8v47.8H64.2v-31c0-3.7-3-6.7-6.7-6.7H30.3V26.8z M11.4,52.8h7.1h8.4c1.5,0,2.8,1.2,2.8,2.8v1.3h-21v-1.3\
    C8.7,54.1,9.9,52.8,11.4,52.8z M8.7,58.9h21v25.6h-21V58.9z M26.8,48.8h-2.6v-3.3h32.2v38.4H33.6V55.6\
    C33.6,51.9,30.6,48.8,26.8,48.8z M8.7,89.7v-3.2h21v3.2c0,1.5-1.2,2.8-2.8,2.8H11.4C9.9,92.5,8.7,91.3,8.7,89.7z M33.1,92.4\
    c0.1-0.1,0.1-0.2,0.1-0.4c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.2,0.1-0.3c0-0.2,0.1-0.3,0.1-0.5\
    c0-0.1,0-0.1,0-0.2c0-0.2,0-0.5,0-0.7v-3.8h23.8c0.6,0,1-0.4,1-1V44.5c0-0.6-0.4-1-1-1H23.2c-0.6,0-1,0.4-1,1v4.3h-1.7v-5.2\
    c0-1.5,1.2-2.7,2.7-2.7h5.1h29.2c1.5,0,2.7,1.2,2.7,2.7v40.9v5.3c0,1.5-1.2,2.7-2.7,2.7c0,0,0,0,0,0L33.1,92.4\
    C33,92.5,33,92.5,33.1,92.4z M75.3,89.7c0,1.5-1.2,2.8-2.8,2.8h-8.9c0,0,0,0,0,0c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.1-0.1,0.1-0.2\
    c0-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.1,0.1-0.2c0-0.2,0.1-0.3,0.1-0.5c0-0.1,0-0.1,0-0.2c0-0.2,0-0.5,0-0.7v-3.3h11.1V89.7z M97,82.5\
    H77.3H64.2v-5.9h35.6v3.1C99.8,81.3,98.5,82.5,97,82.5z')
    g
        circle(cx='19.1', cy='89.8', r='2.1')
