symbol#cardsTable
    //- viewbox='0 0 110 110')
    g
        path(d='M94.6,30l-0.1,0l-0.4-0.9c-0.8-0.8-1.1-1-39.4-0.9c-18.5,0.1-37.2,0.3-37.4,0.3L15.4,30c-2.6,9.3-4.6,31.8,2.7,41.5\
      C24.6,80,36.6,84.2,55,84.2c18.4,0,30.4-4.2,36.9-12.7C99.2,61.8,97.2,39.3,94.6,30z M88.7,69.1C83,76.5,72,80.2,55,80.2\
      s-28-3.6-33.7-11.1c-6.2-8.3-4.4-28-2.4-36.6c26.6-0.3,64.9-0.5,72.2-0.2C93.1,40.8,95,60.8,88.7,69.1z')
        path(d='M83.8,41.2c-0.2-0.7-0.3-1.3-0.5-2l-1.9,0.5c2.6,9.2,2.5,15.6-0.4,19.4c-3.6,4.8-12.3,7.2-25.9,7.2\
      c-13.5,0-22.2-2.4-25.9-7.2c-2.9-3.8-3-10.2-0.4-19.4l-1.9-0.5c-0.2,0.7-0.4,1.4-0.5,2l-6.4-1.6l-0.5,1.9l6.4,1.6\
      c-1.7,7.8-1.1,13.4,1.7,17.2c0.1,0.1,0.2,0.3,0.3,0.4l-6.1,2.8l0.8,1.8l6.7-3.1c3.4,2.9,8.8,4.8,16.2,5.6L43,73.7l1.8,0.8l2.9-6.4\
      c2.3,0.2,4.7,0.3,7.3,0.3c2.6,0,5-0.1,7.3-0.3l3.2,7.1l1.8-0.8l-2.9-6.5c7.4-0.8,12.9-2.7,16.2-5.6l7,3.2l0.8-1.8l-6.3-2.9\
      c0.1-0.1,0.2-0.3,0.3-0.4c2.8-3.7,3.4-9.4,1.7-17.2l6.4-1.6l-0.5-1.9L83.8,41.2z')
        path(d='M42.5,36.1h-7.1v11.5h7.1V36.1z M40.5,45.7h-3.1v-7.5h3.1V45.7z')
        path(d='M51.3,36.1h-7.1v11.5h7.1V36.1z M49.3,45.7h-3.1v-7.5h3.1V45.7z')
        path(d='M60,36.1H53v11.5H60V36.1z M58,45.7H55v-7.5H58V45.7z')
        path(d='M68.8,36.1h-7.1v11.5h7.1V36.1z M66.8,45.7h-3.1v-7.5h3.1V45.7z')
        path(d='M77.5,36.1h-7.1v11.5h7.1V36.1z M75.5,45.7h-3.1v-7.5h3.1V45.7z')