symbol#cardChips
    //- viewbox='0 0 110 110')
    g
        path(d='M26.6,25.2l-1.1-3.1h3.9l4.6,12.1h-4.1l-0.7-1.9h-3.7l-0.7,1.9h-1.6L26.6,25.2z M28.5,30.5l-1.2-3.3l-1.2,3.3H28.5z')
    g
        g
            path(d='M42.5,52.1l-4.3-4.3c-1.1-1.1-1.8-2.7-1.8-4.3s0.6-3.1,1.8-4.3c1.1-1.1,2.6-1.8,4.3-1.8s3.1,0.6,4.3,1.8\
        c1.1,1.1,1.8,2.6,1.8,4.3s-0.6,3.1-1.8,4.3L42.5,52.1z M42.5,39.5c-1.1,0-2.1,0.4-2.8,1.2s-1.2,1.8-1.2,2.8s0.4,2.1,1.2,2.8\
        l2.8,2.8l2.8-2.8c0.8-0.8,1.2-1.8,1.2-2.8s-0.4-2.1-1.2-2.8C44.5,40,43.5,39.5,42.5,39.5z')
        g
            g
                path(d='M50.3,61c-1.6,0-3.1-0.6-4.3-1.8L41.8,55l4.3-4.3c1.1-1.1,2.7-1.8,4.3-1.8s3.1,0.6,4.3,1.8c2.3,2.3,2.3,6.2,0,8.5\
          C53.4,60.4,51.9,61,50.3,61z M44.6,55l2.8,2.8c0.8,0.8,1.8,1.2,2.8,1.2s2.1-0.4,2.8-1.2c1.6-1.6,1.6-4.1,0-5.7\
          c-0.8-0.8-1.8-1.2-2.8-1.2s-2.1,0.4-2.8,1.2L44.6,55z')
            g
                path(d='M34.6,61c-1.6,0-3.1-0.6-4.3-1.8c-2.3-2.3-2.3-6.2,0-8.5c1.1-1.1,2.6-1.8,4.3-1.8s3.1,0.6,4.3,1.8l4.3,4.3l-4.3,4.3\
          C37.8,60.4,36.2,61,34.6,61z M34.6,50.9c-1.1,0-2.1,0.4-2.8,1.2c-1.6,1.6-1.6,4.1,0,5.7c0.8,0.8,1.8,1.2,2.8,1.2s2.1-0.4,2.8-1.2\
          l2.8-2.8l-2.8-2.8C36.7,51.4,35.7,50.9,34.6,50.9z')
        g
            path(d='M44.1,66.7h-3.3c-0.4,0-0.8-0.2-1-0.5c-0.2-0.3-0.3-0.7-0.2-1.1L42.5,55l2.8,10.1c0.1,0.4,0,0.8-0.2,1.1\
        C44.8,66.5,44.5,66.7,44.1,66.7z M41.8,64.7h1.3l-0.6-2.3L41.8,64.7z')
    path(d='M92.6,63.5c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c-0.1-4.9-7.7-8.8-17.4-8.8s-17.3,3.8-17.4,8.8\
    c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3\
    c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2\
    c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,5.6,7.7,9.9,17.9,9.9s17.9-4.2,17.9-9.9\
    c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3\
    c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3C93.1,64.9,92.9,64.2,92.6,63.5z M65.1,66.9l-0.7,1.5\
    c-2.8-1.3-4.5-3-4.6-4.6C61.1,65,62.9,66.1,65.1,66.9z M80.5,61.6c1.9-0.4,3.6-1,4.8-1.8l0.8,1.6c-1.5,0.7-3.3,1.2-5.4,1.6\
    L80.5,61.6z M70,82.6c1.7,0.3,3.5,0.5,5.2,0.5l0,0v1.3l0,0c-2,0-3.8-0.2-5.5-0.5L70,82.6z M75.2,77.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4\
    c1.7,0.3,3.5,0.5,5.2,0.5l0,0L75.2,77.4L75.2,77.4z M70,68.6c1.7,0.3,3.5,0.5,5.2,0.5l0,0v1.3l0,0c-2,0-3.8-0.2-5.5-0.5L70,68.6z\
    M86.1,68.4c-1.5,0.7-3.3,1.2-5.4,1.6l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2L86.1,68.4z M75.2,63.4\
    c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5l0,0L75.2,63.4L75.2,63.4z M65.1,73.9l-0.7,1.5c-2.8-1.3-4.5-3-4.6-4.6\
    C61.1,72,62.9,73.1,65.1,73.9z M59.8,77.8c1.3,1.3,3.1,2.3,5.3,3.1l-0.7,1.5C61.5,81.1,59.9,79.4,59.8,77.8z M86.1,82.4\
    c-1.5,0.7-3.3,1.2-5.4,1.6l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2L86.1,82.4z M86.1,75.4\
    c-1.5,0.7-3.3,1.2-5.4,1.6l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2L86.1,75.4z M86,51.7c2.9,1.3,4.5,3,4.6,4.7\
    l-3.3,0.1c0-1.3-0.8-2.3-2.1-3.2L86,51.7z M85.4,56.6c0,1.5-3.9,3.5-10.2,3.5c-6.3,0-10.2-2-10.2-3.5s3.9-3.5,10.2-3.5\
    C81.5,53.1,85.4,55.1,85.4,56.6z M75.2,49.7c2,0,3.8,0.2,5.4,0.5l-0.2,1.4C78.7,51.2,77,51,75.2,51l0,0V49.7L75.2,49.7z M69.7,50.2\
    l0.2,1.4c-1.9,0.4-3.6,1-4.8,1.8l-0.8-1.6C65.8,51.1,67.6,50.5,69.7,50.2z M61.4,56.6H63c0,1.3,0.8,2.3,2.1,3.2l-0.8,1.6\
    c-2.9-1.3-4.5-3-4.6-4.7L61.4,56.6z M59.8,84.8c1.3,1.3,3.1,2.3,5.3,3.1l-0.7,1.5C61.5,88.1,59.9,86.4,59.8,84.8z M75.2,91.4\
    c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5l0,0L75.2,91.4L75.2,91.4z M80.7,91l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5\
    c0.2-0.1,0.4-0.1,0.6-0.2l0.7,1.5C84.6,90.1,82.8,90.6,80.7,91z')
    g
        path(d='M56.5,25.9c1.5,0,2.7,1.2,2.7,2.7v24.5c0.5-0.6,1.2-1.2,2-1.8V28.5c0-2.6-2.1-4.7-4.7-4.7H32.7l0.8,2H56.5z')
        path(d='M57.4,72.9c-0.3,0.1-0.6,0.2-0.9,0.2H28.4c-1.5,0-2.7-1.2-2.7-2.7V36.1h-2v34.3c0,2.6,2.1,4.7,4.7,4.7h28.1\
      c0.5,0,0.9-0.1,1.3-0.2C57.6,74.3,57.4,73.6,57.4,72.9z')
    path(d='M58.2,82.7c-0.5-0.9-0.8-1.9-0.8-3H23.8c-1.4,0-2.6-1.2-2.6-2.6V21.8c0-1.4,1.2-2.6,2.6-2.6h37.3c1.4,0,2.6,1.2,2.6,2.6v28\
    c1.2-0.5,2.5-1,4-1.3V21.8c0-3.6-3-6.6-6.6-6.6H23.8c-3.6,0-6.6,3-6.6,6.6v55.3c0,3.6,3,6.6,6.6,6.6h34.1C58,83.4,58.1,83,58.2,82.7\
    z')
