symbol#chips
    //- viewbox='0 0 110 110')
    path(d='M71.6,52.5c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c-0.1-4.9-7.7-8.8-17.4-8.8\
    c-9.7,0-17.3,3.8-17.4,8.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2\
    c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8\
    c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,5.6,7.7,9.9,17.9,9.9\
    s17.9-4.2,17.9-9.9c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8\
    c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3C72.1,53.9,71.9,53.2,71.6,52.5z M44.1,55.9\
    l-0.7,1.5c-2.8-1.3-4.5-3-4.6-4.6C40.1,54,41.9,55.1,44.1,55.9z M59.5,50.6c1.9-0.4,3.6-1,4.8-1.8l0.8,1.6c-1.5,0.7-3.3,1.2-5.4,1.6\
    L59.5,50.6z M49,71.6c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0l0,1.3c0,0,0,0,0,0c-2,0-3.8-0.2-5.5-0.5L49,71.6z M54.2,66.4\
    c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L54.2,66.4C54.2,66.4,54.2,66.4,54.2,66.4z M49,57.6\
    c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0l0,1.3c0,0,0,0,0,0c-2,0-3.8-0.2-5.5-0.5L49,57.6z M65.1,57.4c-1.5,0.7-3.3,1.2-5.4,1.6\
    l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2L65.1,57.4z M54.2,52.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4\
    c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L54.2,52.4C54.2,52.4,54.2,52.4,54.2,52.4z M44.1,62.9l-0.7,1.5c-2.8-1.3-4.5-3-4.6-4.6\
    C40.1,61,41.9,62.1,44.1,62.9z M38.8,66.8c1.3,1.3,3.1,2.3,5.3,3.1l-0.7,1.5C40.5,70.1,38.9,68.4,38.8,66.8z M65.1,71.4\
    c-1.5,0.7-3.3,1.2-5.4,1.6l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2L65.1,71.4z M65.1,64.4\
    c-1.5,0.7-3.3,1.2-5.4,1.6l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2L65.1,64.4z M65,40.7c2.9,1.3,4.5,3,4.6,4.7\
    l-3.3,0.1c0-1.3-0.8-2.3-2.1-3.2L65,40.7z M64.4,45.6c0,1.5-3.9,3.5-10.2,3.5S44,47.1,44,45.6c0-1.5,3.9-3.5,10.2-3.5\
    S64.4,44.1,64.4,45.6z M54.2,38.7c2,0,3.8,0.2,5.4,0.5l-0.2,1.4C57.7,40.2,56,40,54.2,40c0,0,0,0,0,0L54.2,38.7\
    C54.2,38.7,54.2,38.7,54.2,38.7z M48.7,39.2l0.2,1.4c-1.9,0.4-3.6,1-4.8,1.8l-0.8-1.6C44.8,40.1,46.6,39.5,48.7,39.2z M40.4,45.6H42\
    c0,1.3,0.8,2.3,2.1,3.2l-0.8,1.6c-2.9-1.3-4.5-3-4.6-4.7L40.4,45.6z M38.8,73.8c1.3,1.3,3.1,2.3,5.3,3.1l-0.7,1.5\
    C40.5,77.1,38.9,75.4,38.8,73.8z M54.2,80.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L54.2,80.4\
    C54.2,80.4,54.2,80.4,54.2,80.4z M59.7,80l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2l0.7,1.5\
    C63.6,79.1,61.8,79.6,59.7,80z')
    path(d='M36.1,70.7c-0.5-1-0.8-2-0.8-3c0-0.8,0.2-1.5,0.4-2.2c0-0.6,0.1-1.2,0.4-1.8c-0.5-1-0.8-2-0.8-3c0-0.8,0.2-1.5,0.4-2.2\
    c0-0.6,0.1-1.2,0.4-1.8c-0.5-1-0.8-2-0.8-3c0-0.8,0.2-1.5,0.4-2.2c0-0.6,0.1-1.2,0.4-1.8c-0.5-1-0.8-2-0.8-3c0-0.8,0.2-1.5,0.4-2.2\
    c0.1-2.8,2.5-5.2,6.4-6.8c-0.5,0.1-0.9,0.2-1.4,0.3l-0.2-1.4c1.9-0.4,3.6-1,4.8-1.8l0.8,1.6c-0.2,0.1-0.3,0.1-0.5,0.2\
    c2.1-0.5,4.5-0.8,7.1-0.9c0.2-0.7,0.4-1.4,0.4-2.1c0-0.8-0.2-1.5-0.4-2.2c-0.1-4.9-7.7-8.8-17.4-8.8c-9.7,0-17.3,3.8-17.4,8.8\
    c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3\
    c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2\
    c0,1.1,0.3,2.1,0.8,3c-0.2,0.6-0.4,1.2-0.4,1.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,5.6,7.7,9.9,17.9,9.9c0.2,0,0.5,0,0.7,0\
    C36,71.2,36,71,36.1,70.7z M46,26.7c2.9,1.3,4.5,3,4.6,4.7l-3.3,0.1c0-1.3-0.8-2.3-2.1-3.2L46,26.7z M35.2,24.7c2,0,3.8,0.2,5.4,0.5\
    l-0.2,1.4C38.7,26.2,37,26,35.2,26c0,0,0,0,0,0L35.2,24.7C35.2,24.7,35.2,24.7,35.2,24.7z M29.7,25.2l0.2,1.4\
    c-1.9,0.4-3.6,1-4.8,1.8l-0.8-1.6C25.8,26.1,27.6,25.5,29.7,25.2z M24.4,64.4c-2.8-1.3-4.5-3-4.6-4.6c1.3,1.3,3.1,2.3,5.3,3.1\
    L24.4,64.4z M24.4,57.4c-2.8-1.3-4.5-3-4.6-4.6c1.3,1.3,3.1,2.3,5.3,3.1L24.4,57.4z M24.4,50.4c-2.8-1.3-4.5-3-4.6-4.6\
    c1.3,1.3,3.1,2.3,5.3,3.1L24.4,50.4z M24.4,43.4c-2.8-1.3-4.5-3-4.6-4.6c1.3,1.3,3.1,2.3,5.3,3.1L24.4,43.4z M24.4,36.4\
    c-2.9-1.3-4.5-3-4.6-4.7l1.6-0.1H23c0,1.3,0.8,2.3,2.1,3.2L24.4,36.4z M25,31.6c0-1.5,3.9-3.5,10.2-3.5s10.2,2.1,10.2,3.5\
    c0,1.5-3.9,3.5-10.2,3.5S25,33.1,25,31.6z M35.2,66.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L35.2,66.4\
    C35.2,66.4,35.2,66.4,35.2,66.4z M35.2,59.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L35.2,59.4\
    C35.2,59.4,35.2,59.4,35.2,59.4z M35.2,52.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L35.2,52.4\
    C35.2,52.4,35.2,52.4,35.2,52.4z M35.2,45.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L35.2,45.4\
    C35.2,45.4,35.2,45.4,35.2,45.4z M35.2,38.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L35.2,38.4\
    C35.2,38.4,35.2,38.4,35.2,38.4z')
    path(d='M92.6,38.5c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c-0.1-4.9-7.7-8.8-17.4-8.8\
    c-9.7,0-17.3,3.8-17.4,8.8c-0.3,0.7-0.4,1.4-0.4,2.2c0,0.7,0.1,1.5,0.4,2.2c8.2,0.6,14.3,3.9,14.8,8.2c0.9,0.1,1.7,0.1,2.6,0.1\
    c0,0,0,0,0,0l0,1.3c0,0,0,0,0,0c-0.8,0-1.6,0-2.3-0.1c0.1,0.4,0.2,0.9,0.2,1.3c0,1.1-0.3,2.1-0.8,3c0.2,0.4,0.3,0.8,0.3,1.3\
    c0.9,0.1,1.7,0.1,2.6,0.1c0,0,0,0,0,0l0,1.3c0,0,0,0,0,0c-0.8,0-1.6,0-2.3-0.1c0.1,0.4,0.2,0.9,0.2,1.3c0,1.1-0.3,2.1-0.8,3\
    c0.2,0.4,0.3,0.8,0.3,1.3c0.9,0.1,1.7,0.1,2.6,0.1c0,0,0,0,0,0l0,1.3c0,0,0,0,0,0c-0.8,0-1.6,0-2.3-0.1c0.1,0.4,0.2,0.9,0.2,1.3\
    c0,1.1-0.3,2.1-0.8,3c0.2,0.4,0.3,0.8,0.3,1.3c0.9,0.1,1.7,0.1,2.6,0.1c0,0,0,0,0,0l0,1.3c0,0,0,0,0,0c-0.8,0-1.6,0-2.3-0.1\
    c0.1,0.4,0.2,0.9,0.2,1.3c0,1.1-0.3,2.1-0.8,3c0.1,0.2,0.2,0.5,0.2,0.7c0.9,0.1,1.8,0.1,2.7,0.1c10.2,0,17.9-4.2,17.9-9.9\
    c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3\
    c0-0.8-0.2-1.5-0.4-2.2c0-0.6-0.1-1.2-0.4-1.8c0.5-1,0.8-2,0.8-3C93.1,39.9,92.9,39.2,92.6,38.5z M75.2,24.7c2,0,3.8,0.2,5.4,0.5\
    l-0.2,1.4C78.7,26.2,77,26,75.2,26c0,0,0,0,0,0L75.2,24.7C75.2,24.7,75.2,24.7,75.2,24.7z M69.7,25.2l0.2,1.4\
    c-1.9,0.4-3.6,1-4.8,1.8l-0.8-1.6C65.8,26.1,67.6,25.5,69.7,25.2z M64.4,36.4c-2.9-1.3-4.5-3-4.6-4.7l1.6-0.1H63\
    c0,1.3,0.8,2.3,2.1,3.2L64.4,36.4z M65,31.6c0-1.5,3.9-3.5,10.2-3.5s10.2,2.1,10.2,3.5c0,1.5-3.9,3.5-10.2,3.5S65,33.1,65,31.6z\
    M75.2,38.4c-2,0-3.8-0.2-5.5-0.5l0.2-1.4c1.7,0.3,3.5,0.5,5.2,0.5c0,0,0,0,0,0L75.2,38.4C75.2,38.4,75.2,38.4,75.2,38.4z M80.7,66\
    l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2l0.7,1.5C84.6,65.1,82.8,65.6,80.7,66z M80.7,59l-0.2-1.4\
    c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2l0.7,1.5C84.6,58.1,82.8,58.6,80.7,59z M80.7,52l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5\
    c0.2-0.1,0.4-0.1,0.6-0.2l0.7,1.5C84.6,51.1,82.8,51.6,80.7,52z M80.7,45l-0.2-1.4c1.7-0.3,3.1-0.9,4.3-1.5c0.2-0.1,0.4-0.1,0.6-0.2\
    l0.7,1.5C84.6,44.1,82.8,44.6,80.7,45z M80.7,38l-0.2-1.4c1.9-0.4,3.6-1,4.8-1.8l0.8,1.6C84.6,37.1,82.8,37.6,80.7,38z M87.4,31.5\
    c0-1.3-0.8-2.3-2.1-3.2l0.8-1.6c2.9,1.3,4.5,3,4.6,4.7L87.4,31.5z')