symbol#deskMobile
    //- viewbox='0 0 110 110')
    path(d='M28.5,78h-14c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5h14c0.8,0,1.5-0.7,1.5-1.5S29.3,78,28.5,78z')
    path(d='M97.7,46.1H84.5V26.8c0-3.7-3-6.8-6.8-6.8h-64C10,20,7,23,7,26.8v53c0,3.7,3,6.8,6.8,6.8h17.7v3.2c0,3.7,3,6.8,6.8,6.8h15\
    c3.7,0,6.8-3,6.8-6.8v-3.2h14v3.2c0,3.7,3,6.8,6.8,6.8h17c3.7,0,6.8-3,6.8-6.8V52.9C104.5,49.2,101.5,46.1,97.7,46.1z M78,56.7h22.5\
    v27.3H78V56.7z M100.5,52.9v1.8H78v-1.8c0-1.5,1.2-2.8,2.8-2.8h1.7h15.2C99.3,50.1,100.5,51.4,100.5,52.9z M13.8,24h64\
    c1.5,0,2.8,1.2,2.8,2.8v19.4c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.2,0-0.3,0.1\
    c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1\
    c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.1-0.2,0.2\
    c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.3\
    c-0.1,0.1-0.1,0.2-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c0,0.1-0.1,0.2-0.1,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c0,0.1-0.1,0.2-0.1,0.3\
    c0,0.1-0.1,0.2-0.1,0.4c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.3-0.1,0.4c0,0.1,0,0.2-0.1,0.3c0,0.1,0,0.3-0.1,0.5c0,0.1,0,0.1,0,0.2\
    c0,0.2,0,0.5,0,0.7v21.7H11V26.8C11,25.2,12.2,24,13.8,24z M56,89.7c0,1.5-1.2,2.8-2.8,2.8h-15c-1.5,0-2.8-1.2-2.8-2.8v-3.2H56V89.7\
    z M58,82.5H33.5H13.8c-1.5,0-2.8-1.2-2.8-2.8v-3.1h63v5.9H58z M97.7,92.5h-17c-1.5,0-2.8-1.2-2.8-2.8v-3.8h22.5v3.8\
    C100.5,91.3,99.3,92.5,97.7,92.5z')
    circle(cx='89.3', cy='89.5', r='2.2')



