symbol#desktop
    //- viewbox='0 0 110 110')
    path(d='M86.7,20h-64C19,20,16,23,16,26.8v53c0,3.7,3,6.8,6.8,6.8h17.7v3.2c0,3.7,3,6.8,6.8,6.8h15c3.7,0,6.8-3,6.8-6.8v-3.2h17.7\
    c3.7,0,6.8-3,6.8-6.8v-53C93.5,23,90.5,20,86.7,20z M22.8,24h64c1.5,0,2.8,1.2,2.8,2.8v47.8H20V26.8C20,25.2,21.2,24,22.8,24z\
    M65,89.7c0,1.5-1.2,2.8-2.8,2.8h-15c-1.5,0-2.8-1.2-2.8-2.8v-3.2H65V89.7z M86.7,82.5H67H42.5H22.8c-1.5,0-2.8-1.2-2.8-2.8v-3.1\
    h69.5v3.1C89.5,81.3,88.3,82.5,86.7,82.5z')
    path(d='M37.5,78h-14c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5h14c0.8,0,1.5-0.7,1.5-1.5S38.3,78,37.5,78z')


