symbol#dice
    //- viewbox='0 0 110 110')
    circle(cx='41.2', cy='41.3', r='2.3')
    circle(cx='33.2', cy='33.2', r='2.3')
    path(d='M81,42H59.8V30.3c0-4.2-3.4-7.6-7.6-7.6H30.3c-4.2,0-7.6,3.4-7.6,7.6v21.8c0,4.2,3.4,7.6,7.6,7.6h11.6v21.4\
    c0,4.8,3.9,8.6,8.6,8.6H81c4.8,0,8.6-3.9,8.6-8.6V50.7C89.6,45.9,85.8,42,81,42z M30.3,57.8c-3.1,0-5.6-2.5-5.6-5.6V30.3\
    c0-3.1,2.5-5.6,5.6-5.6h21.8c3.1,0,5.6,2.5,5.6,5.6V42h-7.2c-4.8,0-8.6,3.9-8.6,8.6v7.1H30.3z M85.6,81.2c0,2.5-2.1,4.6-4.6,4.6\
    H50.5c-2.6,0-4.6-2.1-4.6-4.6V50.7c0-2.6,2.1-4.6,4.6-4.6H81c2.5,0,4.6,2.1,4.6,4.6V81.2z')
    circle(cx='55.8', cy='55.9', r='2.9')
    circle(cx='65.8', cy='65.9', r='2.9')
    circle(cx='75.8', cy='75.9', r='2.9')
    circle(cx='75.8', cy='55.9', r='2.9')
    circle(cx='55.8', cy='75.9', r='2.9')

