symbol#free
    //- viewbox='0 0 110 110')
    g
        path(d='M26.4,50h11.5v2.2h-6l0,4.1h4.4v2.2h-4.4V64h-5.4V50z')
        path(d='M40.2,50h8.1c1,0,2,0.1,2.7,0.3c0.8,0.2,1.4,0.5,2,0.9c0.5,0.4,0.9,0.9,1.2,1.4c0.3,0.6,0.4,1.2,0.4,1.8\
      c0,0.8-0.2,1.6-0.6,2.2c-0.4,0.6-1,1.1-1.7,1.5l2.9,5.8h-6.2l-2.2-5.1h-1.1V64h-5.4V50z M46,57.2c0.4,0,0.8-0.1,1.2-0.2\
      c0.4-0.1,0.7-0.3,0.9-0.5s0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1s-0.1-0.7-0.2-1s-0.3-0.6-0.6-0.8s-0.5-0.4-0.9-0.5\
      C46.9,52.1,46.5,52,46,52h-0.3l0,5.2H46z')
        path(d='M57.8,50h11.8v2.2h-6.4l0,3.8h4.9v2.2h-4.9v3.8h6.4V64H57.8V50z')
        path(d='M72.4,50h11.8v2.2h-6.4l0,3.8h4.9v2.2h-4.9v3.8h6.4V64H72.4V50z')
    g
        path(d='M55,93.4c-1.1,0-2.1-0.3-3-1l-6.8-4.9h-9.7c-2.2,0-4.2-1.4-4.9-3.6l-3-9.2l-7.2-5.2c-1.8-1.3-2.6-3.6-1.9-5.8l2.8-8.5\
      l-2.8-8.5c-0.7-2.1,0.1-4.4,1.9-5.8l7.2-5.2l3-9.2c0.7-2.1,2.7-3.6,4.9-3.6h9.7l6.8-4.9c1.8-1.3,4.2-1.3,6.1,0l6.8,4.9h9.7\
      c2.2,0,4.2,1.4,4.9,3.6l3,9.2l7.2,5.2c1.8,1.3,2.6,3.6,1.9,5.8l-2.8,8.5l2.8,8.5c0.7,2.1-0.1,4.4-1.9,5.8l-7.2,5.2l-3,9.2\
      c-0.7,2.1-2.7,3.6-4.9,3.6h-9.7L58,92.4C57.1,93.1,56.1,93.4,55,93.4z M35.5,27c-0.5,0-0.9,0.3-1.1,0.8l-3.2,9.9\
      c-0.1,0.4-0.4,0.8-0.7,1l-7.7,5.6c-0.4,0.3-0.6,0.8-0.4,1.3l3,9.1c0.1,0.4,0.1,0.8,0,1.2l-3,9.1c-0.2,0.5,0,1,0.4,1.3l7.7,5.6\
      c0.3,0.2,0.6,0.6,0.7,1l3.2,9.9c0.2,0.5,0.6,0.8,1.1,0.8h10.4c0.4,0,0.8,0.1,1.2,0.4l7.3,5.3c0.4,0.3,0.9,0.3,1.3,0l7.3-5.3\
      c0.3-0.2,0.8-0.4,1.2-0.4h10.4c0.5,0,0.9-0.3,1.1-0.8l3.2-9.9c0.1-0.4,0.4-0.8,0.7-1l7.7-5.6c0.4-0.3,0.6-0.8,0.4-1.3l-3-9.1\
      c-0.1-0.4-0.1-0.8,0-1.2l3-9.1c0.2-0.5,0-1-0.4-1.3l-7.7-5.6c-0.3-0.2-0.6-0.6-0.7-1l-3.2-9.9C75.5,27.3,75,27,74.5,27H64.2\
      c-0.4,0-0.8-0.1-1.2-0.4l-7.3-5.3c-0.4-0.3-0.9-0.3-1.3,0L47,26.6c-0.3,0.2-0.8,0.4-1.2,0.4H35.5z')
    g
        path(d='M31.4,47.8c3.1-9.9,12.4-17.2,23.4-17.2c11,0,20.3,7.2,23.4,17.2h2.1C77,36.7,66.8,28.6,54.8,28.6s-22.3,8.1-25.5,19.2\
      H31.4z')
        path(d='M76.7,66.1c-4,8-12.3,13.5-21.9,13.5c-9.6,0-17.9-5.5-21.9-13.5h-2.2c4.2,9.2,13.4,15.5,24.1,15.5s19.9-6.4,24.1-15.5H76.7\
      z')

