symbol#minus
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .minusst0 {
            fill: #FF0000;
        }

        .minusst1 {
            fill: #FFFFFF;
        }
    circle.minusst0(cx='56.2', cy='55.6', r='31.5')
    rect.minusst1(x='39.9', y='51', width='32.5', height='9.2')
