//- viewbox='0 0 110 110')
rect#minus(x='35', y='51', width='40', height='8')
//-rect#plus(x='51', y='35', width='8', height='40')
path#circle(d='M55,18.5c20.1,0,36.5,16.4,36.5,36.5S75.1,91.5,55,91.5S18.5,75.1,18.5,55S34.9,18.5,55,18.5 M55,11.5\
C31,11.5,11.5,31,11.5,55S31,98.5,55,98.5S98.5,79,98.5,55S79,11.5,55,11.5L55,11.5z')