symbol#minus
    //- viewbox='0 0 110 110')
    //-line.plus(x1='55', y1='35', x2='55', y2='75')
    line.minus(x1='75', y1='55', x2='35', y2='55')
    //-path.circle(d='M55,14.5c22.3,0,40.5,18.2,40.5,40.5S77.3,95.5,55,95.5S14.5,77.3,14.5,55S32.7,14.5,55,14.5')