symbol#plus
    //- viewbox='0 0 110 110')
    style(type='text/css').
        .plusst0 {
            fill: #39B54A;
        }

        .plusst1 {
            fill: #FFFFFF;
        }
    circle.plusst0(cx='56', cy='55', r='31.5')
    polygon.plusst1(points='72.3,50.4 60.6,50.4 60.6,38.8 51.4,38.8 51.4,50.4 39.8,50.4 39.8,59.6 51.4,59.6 51.4,71.3 \
    60.6,71.3 60.6,59.6 72.3,59.6 ')
