symbol#tablet
    //- viewbox='0 0 110 110')
    path(d='M83.8,100.5H27.2c-3.7,0-6.7-3-6.7-6.7V19.2c0-3.7,3-6.7,6.7-6.7h56.7c3.7,0,6.7,3,6.7,6.7v74.7\
    C90.5,97.5,87.5,100.5,83.8,100.5z M27.2,16.5c-1.5,0-2.7,1.2-2.7,2.7v74.7c0,1.5,1.2,2.7,2.7,2.7h56.7c1.5,0,2.7-1.2,2.7-2.7V19.2\
    c0-1.5-1.2-2.7-2.7-2.7H27.2z')
    path(d='M81.3,85H29.7c-0.6,0-1-0.4-1-1V23c0-0.6,0.4-1,1-1h51.7c0.6,0,1,0.4,1,1v61C82.3,84.6,81.9,85,81.3,85z M30.7,83h49.7V24\
    H30.7V83z')
    circle(cx='55.5', cy='90.5', r='3.2')

