dl.prizes-details.row
    dt.col-7
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#plus" x="0" y="0")
        svg.icon-filled-dark(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
    dd.col-5 £2,000,000
    dt.col-7
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#plus" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
    dd.col-5 £1,000,000
    dt.col-7
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#plus" x="0" y="0")
        svg.icon-filled-dark(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
    dd.col-5 Porche Cayman
    //-dt.col-7
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#plus" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
    //-dd.col-5 £10,000
    //-dt.col-7
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg.icon-disabled(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
        svg(viewBox="0 0 110 110")
            use(xlink:href="#plus" x="0" y="0")
        svg.icon-filled-dark(viewBox="0 0 110 110")
            use(xlink:href="#circle" x="0" y="0")
    //-dd.col-5 £2,000